www.unicode.org/reports/tr42/tr42-3.rnc


    # Copyright © 2005-2008 Unicode, Inc.

    
      
  default namespace ucd = "http://www.unicode.org/ns/2003/ucd/1.0"

      
  # default; datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

  single-code-point = xsd:string { pattern = "(|[1-9A-F]|(10))[0-9A-F]{4}" }

  one-or-more-code-points = list { single-code-point + }
  zero-or-more-code-points = list { single-code-point * }

  character-name = xsd:string { pattern="([A-Z0-9 #\-\(\)]*)|(<control>)" } 

      
  start = 
    element ucd { ucd.content }

      
  boolean = "Y" | "N"

      
  ucd.content &=
    element description { text }?

      
  ucd.content &=
    element repertoire { (code-point | group) + }?

  set-of-code-points =
     attribute cp { single-code-point }
   | ( attribute first-cp { single-code-point }, 
       attribute last-cp  { single-code-point } )

  code-point |=
    element reserved {
      set-of-code-points,
      code-point-properties }

  code-point |=
    element noncharacter {
      set-of-code-points,
      code-point-properties }

  code-point |=
    element surrogate {
      set-of-code-points,
      code-point-properties }

  code-point |=
    element char {
      set-of-code-points,
      code-point-properties }

  group = 
    element group {
      code-point-properties,
      code-point* }

      
  code-point-properties &= attribute age { 
          "1.1" | "2.0" | "2.1" | "3.0" | "3.1" | "3.2"
        | "4.0" | "4.1" | "5.0" | "5.1" | "unassigned" }?

  code-point-properties &= attribute na { character-name }?
  code-point-properties &= attribute na1 { character-name }?

  code-point-properties &=
    attribute gc { "Lu" | "Ll" | "Lt" | "Lm" | "Lo"
                 | "Mn" | "Mc" | "Me" 
                 | "Nd" | "Nl" | "No"
                 | "Pc" | "Pd" | "Ps" | "Pe" | "Pi" | "Pf" | "Po"
                 | "Sm" | "Sc" | "Sk" | "So"
                 | "Zs" | "Zl" | "Zp"
                 | "Cc" | "Cf" | "Cs" | "Co" | "Cn"
    }?

  code-point-properties &=
    attribute ccc { xsd:integer { minInclusive="0" maxInclusive="255" }}?

  code-point-properties &= 
    attribute bc { "AL" | "AN" 
                 | "B " | "BN"
                 | "CS"
                 | "EN" | "ES"  | "ET"
                 | "L"  | "LRE" | "LRO"
                 | "NSM" 
                 | "ON"
                 | "PDF"
                 | "R"  | "RLE" | "RLO"
                 | "S"
                 | "WS"
      }?

  code-point-properties &=
    attribute Bidi_M { boolean }?

  code-point-properties &=
    attribute bmg    { "" | single-code-point }?

  code-point-properties &=
    attribute Bidi_C { boolean }?

  code-point-properties &=
    attribute dt { "can"  | "com" | "enc" | "fin"  | "font" | "fra"
                 | "init" | "iso" | "med" | "nar"  | "nb"   | "sml"
                 | "sqr"  | "sub" | "sup" | "vert" | "wide" | "none"}?

  code-point-properties &=
    attribute dm { "#" | zero-or-more-code-points }?

  code-point-properties &=
    attribute CE { boolean }?

  code-point-properties &=
    attribute Comp_Ex { boolean }?

  code-point-properties &=
    attribute NFC_QC { "Y" | "N" | "M" }?

  code-point-properties &=
    attribute NFD_QC { "Y" | "N" }?

  code-point-properties &=
    attribute NFKC_QC { "Y" | "N" | "M" }?

  code-point-properties &=
    attribute NFKD_QC { "Y" | "N" }?


  code-point-properties &=
    attribute XO_NFC { boolean }?

  code-point-properties &=
    attribute XO_NFD { boolean }?

  code-point-properties &=
    attribute XO_NFKC { boolean }?

  code-point-properties &=
    attribute XO_NFKD { boolean }?


  code-point-properties &=
    attribute FC_NFKC { zero-or-more-code-points }?

  code-point-properties &=
    attribute nt { "None" | "De" | "Di" | "Nu" }?

  code-point-properties &=
    attribute nv { "" | xsd:string { pattern = "-?[0-9]+(/[0-9]+)?" }}?

  code-point-properties &=
    attribute jt { "U" | "C" | "T" | "D" | "L" | "R" }?

  code-point-properties &=
    attribute jg { "Ain" | "Alaph" | "Alef" | "Alef_Maqsurah" 
                 | "Beh" | "Beth" | "Burushaski_Yeh_Barree"
                 | "Dal" | "Dalath_Rish" | "E" 
                 | "Fe" | "Feh" | "Final_Semkath"
                 | "Gaf" | "Gamal" 
                 | "Hah" | "Hamza_On_Heh_Goal" | "He" 
		 | "Heh" | "Heh_Goal" | "Heth" 
                 | "Kaf" | "Kaph" | "Khaph" | "Knotted_Heh" 
		 | "Lam" | "Lamadh" | "Meem" | "Mim" 
		 | "No_Joining_Group" | "Noon" | "Nun" 
		 | "Pe" | "Qaf" | "Qaph" | "Reh" | "Reversed_Pe" 
		 | "Sad" | "Sadhe" | "Seen" | "Semkath" | "Shin" 
		 | "Swash_Kaf" | "Syriac_Waw" | "Tah" | "Taw" 
		 | "Teh_Marbuta" | "Teth" | "Waw" | "Yeh" 
		 | "Yeh_Barree" | "Yeh_With_Tail" | "Yudh" 
		 | "Yudh_He" | "Zain" | "Zhain" }?

  code-point-properties &=
    attribute Join_C { boolean }?

  code-point-properties &= 
    attribute lb { "AI" | "AL" | "B2" | "BA" | "BB" | "BK" | "CB" 
                 | "CL" | "CM" | "CR" | "EX" | "GL" | "H2" | "H3" 
                 | "HY" | "ID" | "IN" | "IS" | "JL" | "JT" | "JV" 
		 | "LF" | "NL" | "NS" | "NU" | "OP" | "PO" | "PR" 
		 | "QU" | "SA" | "SG" | "SP" | "SY" | "WJ" | "XX" 
                 | "ZW" }?

  code-point-properties &= 
    attribute ea { "A" | "F" | "H" | "N" | "Na" | "W" }?

  code-point-properties &=
    attribute Upper { boolean }?

  code-point-properties &=
    attribute Lower { boolean }?

  code-point-properties &=
    attribute OUpper { boolean }?

  code-point-properties &=
    attribute OLower { boolean }?

  code-point-properties &=
    attribute suc { "#" | single-code-point }?

  code-point-properties &=
    attribute slc { "#" | single-code-point }?

  code-point-properties &=
    attribute stc { "#" | single-code-point }?

  code-point-properties &=
    attribute uc { "#" | one-or-more-code-points }?

  code-point-properties &=
    attribute lc { "#" | one-or-more-code-points }?

  code-point-properties &=
    attribute tc { "#" | one-or-more-code-points }?

  code-point-properties &=
    attribute scf { "#" | single-code-point }?

  code-point-properties &=
    attribute cf { "#" | one-or-more-code-points }?

  code-point-properties &=
    attribute sc  { "Arab" | "Armn" 
                  | "Bali" | "Beng" | "Bopo" | "Brai" | "Bugi" | "Buhd" 
                  | "Cans" | "Cari" | "Cham" | "Cher" | "Copt" | "Cprt" 
                  | "Cyrl" 
                  | "Deva" | "Dsrt" 
                  | "Ethi" 
                  | "Geor" | "Glag" | "Goth" | "Grek" | "Gujr" | "Guru" 
                  | "Hang" | "Hani" | "Hano" | "Hebr" | "Hira" | "Hrkt" 
                  | "Ital" 
                  | "Kali" | "Kana" | "Khar" | "Khmr" | "Knda" 
                  | "Laoo" | "Latn" | "Lepc" | "Limb" | "Linb" | "Lyci" 
                  | "Lydi" 
                  | "Mlym" | "Mong" | "Mymr" 
                  | "Nkoo" 
                  | "Ogam" | "Olck" | "Orya" | "Osma" 
                  | "Phag" | "Phnx" 
                  | "Qaai" 
                  | "Rjng" | "Runr" 
                  | "Saur" | "Shaw" | "Sinh" | "Sund" | "Sylo" | "Syrc" 
                  | "Tagb" | "Tale" | "Talu" | "Taml" | "Telu" | "Tfng" 
                  | "Tglg" | "Thaa" | "Thai" | "Tibt" 
                  | "Ugar" 
                  | "Vaii" 
                  | "Xpeo" | "Xsux" 
                  | "Yiii" 
		  | "Zyyy" | "Zzzz" }?

  code-point-properties &=
    attribute isc { text }?

  code-point-properties &= 
    attribute hst { "L" | "LV" | "LVT" | "T" | "V" | "NA" }?

  code-point-properties &=
     attribute JSN { xsd:string { pattern="[A-Z]{0,3}" }}?

  code-point-properties &=
    attribute IDS { boolean }?

  code-point-properties &=
    attribute OIDS { boolean }?

  code-point-properties &=
    attribute XIDS { boolean }?

  code-point-properties &=
    attribute IDC { boolean }?

  code-point-properties &=
    attribute OIDC { boolean }?

  code-point-properties &=
    attribute XIDC { boolean }?

  code-point-properties &=
    attribute Pat_Syn { boolean }?

  code-point-properties &=
    attribute Pat_WS { boolean }?

  code-point-properties &=
    attribute Dash { boolean }?

  code-point-properties &=
    attribute Hyphen { boolean }?

  code-point-properties &=
    attribute QMark { boolean }?

  code-point-properties &=
    attribute Term { boolean }?

  code-point-properties &=
    attribute STerm { boolean }?

  code-point-properties &=
    attribute Dia { boolean }?

  code-point-properties &=
    attribute Ext { boolean }?

  code-point-properties &=
    attribute SD { boolean }?

  code-point-properties &=
    attribute Alpha { boolean }?

  code-point-properties &=
    attribute OAlpha { boolean }?

  code-point-properties &=
    attribute Math { boolean }?

  code-point-properties &=
    attribute OMath { boolean }?

  code-point-properties &=
    attribute Hex { boolean }?

  code-point-properties &=
    attribute AHex { boolean }?

  code-point-properties &=
    attribute DI { boolean }?

  code-point-properties &=
    attribute ODI { boolean }?

  code-point-properties &=
    attribute LOE { boolean }?

  code-point-properties &=
    attribute WSpace { boolean }?

  code-point-properties &=
    attribute Gr_Base { boolean }?

  code-point-properties &=
    attribute Gr_Ext { boolean }?

  code-point-properties &=
    attribute OGr_Ext { boolean }?

  code-point-properties &=
    attribute Gr_Link { boolean }?

  code-point-properties &=
    attribute GCB { "CN" | "CR" | "EX" | "L"  | "LF" |  "LV" | "LVT"  | "PP"
                  | "SM" | "T"  | "V"  | "XX" }?

  code-point-properties &=
    attribute WB { "CR" | "EX" | "Extend" | "FO" | "KA" | "LE" 
                 | "LF" | "MB" | "ML" | "MN" |  "NL" | "NU" | "XX" }?

  code-point-properties &=
    attribute SB { "AT" | "CL" | "CR" | "EX" | "FO" | "LE" | "LF" | "LO" 
                 | "NU" | "SC" | "SE" | "SP" | "ST" | "UP" | "XX" }?


  code-point-properties &=
    attribute Ideo { boolean }?

  code-point-properties &=
    attribute UIdeo { boolean }?

  code-point-properties &=
    attribute IDSB { boolean }?

  code-point-properties &=
    attribute IDST { boolean }?

  code-point-properties &=
    attribute Radical { boolean }?

  code-point-properties &=
    attribute Dep { boolean }?

  code-point-properties &=
    attribute VS { boolean }?

  code-point-properties &= 
    attribute NChar { boolean }?

  code-point-properties &= attribute kAccountingNumeric
     { xsd:string {pattern="[0-9]+"} }?

  code-point-properties &= attribute kAlternateHanYu
     { text }?  #old

  code-point-properties &= attribute kAlternateJEF
     { text }?  #old

  code-point-properties &= attribute kAlternateKangXi
     { text }?

  code-point-properties &= attribute kAlternateMorohashi
     { text }?

  code-point-properties &= attribute kBigFive 
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kCCCII
     { xsd:string {pattern="[0-9A-F]{6}"} }?

  code-point-properties &= attribute kCNS1986
     { xsd:string {pattern="[12E]-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kCNS1992
     { xsd:string {pattern="[123]-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kCangjie
     { xsd:string {pattern="[A-Z]+"} }?

  code-point-properties &= attribute kCantonese
     { list { xsd:string {pattern="[a-z]+[1-6]"} +}}?

  code-point-properties &= attribute kCheungBauer
     { text }?

  code-point-properties &= attribute kCheungBauerIndex
     { list { xsd:string {pattern="[0-9]{3}\.[0-9]{2}"} +}}?

  code-point-properties &= attribute kCihaiT
     { list { xsd:string {pattern="[1-9][0-9]{0,3}\.[0-9]{3}"} +}}?

  code-point-properties &= attribute kCompatibilityVariant
     { "" | xsd:string {pattern="U\+2?[0-9A-F]{4}"} }?

  code-point-properties &= attribute kCowles
     { list { xsd:string {pattern="[0-9]{1,4}(\.[0-9]{1,2})?"} +}}?

  code-point-properties &= attribute kDaeJaweon
     { xsd:string {pattern="[0-9]{4}\.[0-9]{2}[0158]"} }?

  code-point-properties &= attribute kDefinition
     { text }?

  code-point-properties &= attribute kEACC
     { xsd:string {pattern="[0-9A-F]{6}"} }?

  code-point-properties &= attribute kFenn
     { list { xsd:string {pattern="[0-9]+a?[A-KP*]"} +}}?

  code-point-properties &= attribute kFennIndex
     { list { xsd:string {pattern="[1-9][0-9]{0,2}\.[01][0-9]"} +}}?

  code-point-properties &= attribute kFourCornerCode
     { list { xsd:string {pattern="[0-9]{4}(\.[0-9])?"} +}}?

  code-point-properties &= attribute kFrequency
     { xsd:string {pattern="[1-5]"} }?

  code-point-properties &= attribute kGB0
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kGB1
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kGB3
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kGB5
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kGB7
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kGB8
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kGradeLevel
     { xsd:string {pattern="[1-6]"} }?

  code-point-properties &= attribute kGSR
     { list { xsd:string {pattern="[0-9]{4}[a-vx-z]'*"} +}}?

  code-point-properties &= attribute kHangul
     { text }?

  code-point-properties &= attribute kHanYu
     { list { xsd:string {pattern="[1-8][0-9]{4}\.[0-9]{2}[0-3]"} +}}?

  code-point-properties &= attribute kHanyuPinlu
     { list { xsd:string {pattern="[a-zü]+[1-5]\([0-9]+\)"} +}}?

  code-point-properties &= attribute kHDZRadBreak
     { xsd:string {pattern="[⼀-⿕]\[U\+2?[0-9A-F]{4}\]:[1-8][0-9]{4}\.[0-9]{2}[012]"} }?

  code-point-properties &= attribute kHKGlyph
     { list { xsd:string {pattern="[0-9]{4}"} +}}?

  code-point-properties &= attribute kHKSCS
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kIBMJapan
     { xsd:string {pattern="F[ABC][0-9A-F]{2}"} }?

  code-point-properties &= attribute kIICore
     { xsd:string {pattern="[1-9]\.[1-9]"} }?

  code-point-properties &= attribute kIRGDaeJaweon
     { xsd:string {pattern="([0-9]{4}\.[0-9]{2}[01])|(0000\.555)"} }?

  code-point-properties &= attribute kIRGDaiKanwaZiten
     { xsd:string {pattern="[0-9]{5}'?"} }?

  code-point-properties &= attribute kIRGHanyuDaZidian
     { xsd:string {pattern="[1-8][0-9]{4}\.[0-3][0-9][01]"} }?

  code-point-properties &= attribute kIRGKangXi
     { xsd:string {pattern="[01][0-9]{3}\.[0-7][0-9][01]"} }?

  code-point-properties &= attribute kIRG_GSource
     { "" | xsd:string {pattern="(4K|BK|CH|CY|FZ(_BK)?|HC|HZ|KX|[0135789ES]-[0-9A-F]{4})"} }?

  code-point-properties &= attribute kIRG_HSource
     { "" | xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kIRG_JSource
     { "" | xsd:string {pattern="([0134A]|3A)-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kIRG_KPSource
     { "" | xsd:string {pattern="KP[01]-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kIRG_KSource
     { "" | xsd:string {pattern="[01234]-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kIRG_TSource
     { "" | xsd:string {pattern="[1-7F]-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kIRG_USource
     { "" | xsd:string {pattern="(U\+2?[0-9A-F]{4})|(UTC[0-9]{5})"} }?

  code-point-properties &= attribute kIRG_VSource
     { "" | xsd:string {pattern="[0123]-[0-9A-F]{4}"} }?

  code-point-properties &= attribute kJHJ
     { text }?

  code-point-properties &= attribute kJIS0213
     { xsd:string {pattern="[12],[0-9]{2},[0-9]{1,2}"} }?

  code-point-properties &= attribute kJapaneseKun
     { list { xsd:string {pattern="[A-Z]+"}+ } }?

  code-point-properties &= attribute kJapaneseOn
     { list { xsd:string {pattern="[A-Z]+"}+ } }?

  code-point-properties &= attribute kJis0
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kJis1
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kKPS0
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kKPS1
     { xsd:string {pattern="[0-9A-F]{4}"} }?

  code-point-properties &= attribute kKSC0
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kKSC1
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kKangXi
     { xsd:string {pattern="[0-9]{4}\.[0-9]{2}[01]"} }?

  code-point-properties &= attribute kKarlgren
     { xsd:string {pattern="[1-9][0-9]{0,3}[A*]?"} }?

  code-point-properties &= attribute kKorean
     { list { xsd:string {pattern="[A-Z]+"} +}}?

  code-point-properties &= attribute kLau
     { list { xsd:string {pattern="[1-9][0-9]{0,3}"} +}}?

  code-point-properties &= attribute kMainlandTelegraph
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kMandarin
     { list { xsd:string {pattern="[A-ZÜ]+[1-5]"} +}}?

  code-point-properties &= attribute kMatthews
     { xsd:string {pattern="[0-9]{1,4}(a|\.5)?"} }?

  code-point-properties &= attribute kMeyerWempe
     { list { xsd:string {pattern="[1-9][0-9]{0,3}[a-t*]?"} +}}?

  code-point-properties &= attribute kMorohashi
     { xsd:string {pattern="[0-9]{5}'?"} }?

  code-point-properties &= attribute kNelson
     { list { xsd:string {pattern="[0-9]{4}"} +}}?

  code-point-properties &= attribute kOtherNumeric
     { list { xsd:string {pattern="[0-9]+"} +}}?

  code-point-properties &= attribute kPhonetic
     { list { xsd:string {pattern="[1-9][0-9]{0,3}[A-D]?\*?"} +}}?

  code-point-properties &= attribute kPrimaryNumeric
     { xsd:string {pattern="[0-9]+"} }?

  code-point-properties &= attribute kPseudoGB1
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kRSAdobe_Japan1_6
     { list { xsd:string {pattern="[CV]\+[0-9]{1,5}\+[1-9][0-9]{0,2}\.[1-9][0-9]?\.[0-9]{1,2}"} +}}?

  code-point-properties &= attribute kRSJapanese
     { xsd:string {pattern="[0-9]{1,3}\.[0-9]{1,2}"} }?

  code-point-properties &= attribute kRSKanWa
     { xsd:string {pattern="[0-9]{1,3}\.[0-9]{1,2}"} }?

  code-point-properties &= attribute kRSKangXi
     { xsd:string {pattern="[0-9]{1,3}\.[0-9]{1,2}"} }?

  code-point-properties &= attribute kRSKorean
     { xsd:string {pattern="[0-9]{1,3}\.[0-9]{1,2}"} }?

  code-point-properties &= attribute kRSMerged
     { text }?

  code-point-properties &= attribute kRSUnicode
     { list { xsd:string {pattern="[0-9]{1,3}'?\.[0-9]{1,2}"} +}}?

  code-point-properties &= attribute kSBGY
     { list { xsd:string {pattern="[0-9]{3}\.[0-9]{2}"} +}}?

  code-point-properties &= attribute kSemanticVariant
     { list { xsd:string {pattern="U\+2?[0-9A-F]{4}(<k[A-Za-z:]+(,k[A-Za-z]+)*)?"} +}}?

  code-point-properties &= attribute kSimplifiedVariant
     { list { xsd:string {pattern="U\+2?[0-9A-F]{4}"} +}}?

  code-point-properties &= attribute kSpecializedSemanticVariant
     { list { xsd:string {pattern="U\+2?[0-9A-F]{4}(<k[A-Za-z]+(,k[A-Za-z]+)*)?"} +}}?

  code-point-properties &= attribute kTaiwanTelegraph
     { xsd:string {pattern="[0-9]{4}"} }?

  code-point-properties &= attribute kTang
     { list { xsd:string {pattern="\*?[A-Za-z\(\)æɑəɛ̀̌]+"} +}}?

  code-point-properties &= attribute kTotalStrokes
     { xsd:string {pattern="[1-9][0-9]{0,2}"} }?

  code-point-properties &= attribute kTraditionalVariant
     { list { xsd:string {pattern="U\+2?[0-9A-F]{4}"} +}}?

  code-point-properties &= attribute kVietnamese
     { list { xsd:string {pattern="[A-Za-zà-ưạ-ỹ]+"} +}}?

  code-point-properties &= attribute kXHC1983
     { list { xsd:string {pattern="[0-9,.*]+:[a-zǜ́̄̈̌]+"} +}} ?

  code-point-properties &= attribute kWubi
     { text }?

  code-point-properties &= attribute kXerox
     { xsd:string {pattern="[0-9]{3}:[0-9]{3}"} }?

  code-point-properties &= attribute kZVariant
     { xsd:string {pattern="U\+2?[0-9A-F]{4}(:k[A-Za-z]+)?"} }?

      
  ucd.content &=
    element blocks {
      element block { 
        attribute first-cp { text },
        attribute last-cp { text },
        attribute name { text }} + }?

      
  ucd.content &=
    element named-sequences {
      element named-sequence { 
        attribute cps { text },
        attribute name { text }} + }?

  ucd.content &=
    element provisional-named-sequences {
      element named-sequence { 
        attribute cps { text },
        attribute name { text }} + }?

      
  ucd.content &=
    element normalization-corrections {
      element normalization-correction { 
        attribute cp { text },
        attribute old { text },
	attribute new { text },
	attribute version { text }} + }?

      
  ucd.content &=
    element standardized-variants {
      element standardized-variant { 
        attribute cps { text },
        attribute desc { text },
	attribute when { text }} + }?

    